body {
    font-family: Geneva;
    text-align: center;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .animate-on-load {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
  }

.logo{
    width: 150px;
    height: 100px;
}

.button1 {
    margin: 60px;
    padding: 5px;
    color: rgb(223, 57, 57);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    font-size: 50px;
    border: 0.5px solid rgb(204, 18, 18);
    border-radius: 20px;
    opacity: 0.5;
}

.button2 {
    margin: 60px;
    padding: 5px;
    color: rgb(33, 110, 224);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    font-size: 50px;
    border: 0.5px solid rgb(4, 0, 255);
    border-radius: 20px;
    opacity: 0.5;
}
.button3 {
    margin: 60px;
    padding: 5px;
    color: rgb(65, 168, 39);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    font-size: 50px;
    border: 0.5px solid rgb(60, 189, 0);
    border-radius: 20px;
    opacity: 0.5;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .button1 {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .button2 {
    opacity: 0;
    animation: fadeIn 4s ease forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .button3 {
    opacity: 0;
    animation: fadeIn 6s ease forwards;
  }

.button1:hover{
    border: 3px solid red;
    box-shadow: 0 20px 30px 0 brown;
    transition: 0.4s ease-out;
    opacity: 1;
    transform: scale(10);
}

.button2:hover{
    border: 3px solid blue;
    box-shadow: 0 20px 30px 0 darkblue;
    transition: 0.4s ease-out;
    opacity: 1;
    transform: scale(10);
}

.button3:hover{
    border: 3px solid green;
    box-shadow: 0 20px 30px 0 darkgreen;
    transition: 0.4s ease-out;
    opacity: 1;
    transform: scale(10);
}

.logo:hover{
    transform: scale(1.1);
    transition: 0.4s ease-out;
}

h1{
    opacity: 0.6;
}

h1:hover{
    opacity: 1;
    font-size: 50px;
    transition: 0.4s ease-out;
}

.icon{
    width: 35px;
    height: 35px;
    opacity: 0.5;
}

.icon:hover{
    opacity: 1;
    transition: 0.4s ease-out;
}

.red{
    width: 200px;
    height: 300px;
    opacity: 0.5;
    margin-right: 50px;
}

.red:hover{
    border: 3px solid brown;
    box-shadow: 0 20px 30px 0 brown;
    transition: 0.2s ease-in;
    opacity: 1;
    transform: scale(1.1);
}

.blue{
    width: 200px;
    height: 300px;
    opacity: 0.5;
    margin-right: 50px;
}

.blue:hover{
    border: 3px solid blue;
    box-shadow: 0 20px 30px 0 blue;
    transition: 0.2s ease-in;
    opacity: 1;
    transform: scale(1.1);
}

.green{
    width: 200px;
    height: 300px;
    opacity: 0.5;
    margin-right: 50px;
}

.green:hover{
    border: 3px solid green;
    box-shadow: 0 20px 30px 0 green;
    transition: 0.2s ease-in;
    opacity: 1;
    transform: scale(1.1);
}

footer{
    background-color: lightgray;
    border-radius: 20px;
}



